.Message {
	width: 100%;
	background: white;
	min-height: calc(100% - 4rem);
	margin-bottom: 1rem;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	padding: 6rem;
	border-radius: var(--borderradius);
	box-shadow: var(--boxshadow);
}

.Message h2 {
	margin-bottom: 2rem;
	font-size: 3rem;
}