.Main {
	background-color: var(--gray);
	min-height: calc(100vh - 2rem - 4rem);
	padding: 1rem;
	display: flex;
	flex-flow: row wrap;
}

.Browser {
	width: 100%;
}

@media screen and (min-width: 780px) {
	.Browser {
		width: calc(80% - 1rem);
		margin-left: 1rem;
	}
}